data/raw_fastq/
data/trimmed_fastq/
reference/salmon_index/
reference/*.fa.gz
results/salmon_quant/
*.sra
./results/fastqc_raw/SRR27592752_1_fastqc.html
./results/fastqc_raw/SRR27592752_2_fastqc.html
./results/fastqc_raw/SRR27592753_1_fastqc.html
./results/fastqc_raw/SRR27592753_2_fastqc.html
./results/fastqc_raw/SRR27592754_1_fastqc.html
./results/fastqc_raw/SRR27592754_2_fastqc.html
./results/fastqc_raw/SRR27592755_1_fastqc.html
./results/fastqc_raw/SRR27592755_2_fastqc.html
./results/fastqc_raw/SRR27592756_1_fastqc.html
./results/fastqc_raw/SRR27592756_2_fastqc.html
./results/fastqc_raw/SRR27592757_1_fastqc.html
./results/fastqc_raw/SRR27592757_2_fastqc.html
./results/fastqc_raw/SRR27592759_1_fastqc.html
./results/fastqc_raw/SRR27592759_2_fastqc.html
./results/fastqc_raw/SRR27592760_1_fastqc.html
./results/fastqc_raw/SRR27592760_2_fastqc.html
./results/fastqc_raw/SRR27592758_1_fastqc.html
./results/fastqc_raw/SRR27592758_2_fastqc.html
./results/fastqc_raw/SRR27592761_1_fastqc.html
./results/fastqc_raw/SRR27592761_2_fastqc.html
./results/fastqc_raw/SRR27592762_1_fastqc.html
./results/fastqc_raw/SRR27592762_2_fastqc.html
./results/fastqc_raw/SRR27592763_1_fastqc.html
./results/fastqc_raw/SRR27592763_2_fastqc.html
./results/multiqc_raw/multiqc_report.html
./results/fastp_reports/SRR27592752.html
./results/fastp_reports/SRR27592753.html
./results/fastp_reports/SRR27592754.html
./results/fastp_reports/SRR27592755.html
./results/fastp_reports/SRR27592756.html
./results/fastp_reports/SRR27592757.html
./results/fastp_reports/SRR27592758.html
./results/fastp_reports/SRR27592759.html
./results/fastp_reports/SRR27592760.html
./results/fastp_reports/SRR27592761.html
./results/fastp_reports/SRR27592762.html
./results/fastp_reports/SRR27592763.html
./results/fastqc_trimmed/SRR27592752_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592752_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592753_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592753_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592755_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592755_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592754_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592754_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592756_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592757_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592757_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592756_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592759_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592759_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592760_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592760_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592758_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592758_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592761_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592761_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592762_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592762_2.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592763_1.trimmed_fastqc.html
./results/fastqc_trimmed/SRR27592763_2.trimmed_fastqc.html
./results/multiqc_trimmed/multiqc_report.html
